@{
    ViewBag.Title = "Index";
}

@section Title
{
	Help
}

<div class="container">
	<div class="row">
		<div class="span12" style="padding-top: 10px;">
			<h3>FAQ</h3>
			<p>
				<strong>How do I add a patient to KOAALA?</strong> <br />
				Click the "Add New Patient" button in the top right corner under the "Patients" tab. <br /><br />
				<strong>How do I change my patient's information?</strong><br />
				Click on the "Edit" buttons above each table in the patient profile. <br /><br />
				<strong>How do I delete a patient from KOAALA?</strong><br />
				Click on the red button with the trash can icon in the table of patients under the "Patients" tab.<br /><br />
			</p> 
			<h3>Contact Us:</h3>
			<p>
				<strong>Phone Number:</strong><br />
				(402) 326-8980 <br /><br />
				<strong>Email:</strong><br /> 
				katerilett@gmail.com <br /><br />
			</p> 
		</div>
	</div>
	<div class="row" style="font-size: 9px; color: #999; text-align: center;">
		<div class="span12"></div>
			<br />
			The KOAALAClinic is a prototype system; Madonna Rehabilitation Hospital takes no liability for use of this software
			| <a href="email:katerilett@gmail.com">Contact Us</a>
			| © 2013 
	</div>
</div>
