@{
    ViewBag.Title = "Index";
}

@section Title
{
	Help
}

<div class="container">
	<div class="row">
		<div class="span12" style="padding-top: 10px;">
			<p>
				<br />
				Here's where we would put information on how to use the site. 
			</p>
		</div>
	</div>
	<div class="row" style="font-size: 9px; color: #999; text-align: center;">
		<div class="span12"></div>
			<br />
			The KOAALAClinic is a prototype system; Madonna Rehabilitation Hospital takes no liability for use of this software
			| <a href="email:katerilett@gmail.com">Contact Us</a>
			| © 2013 
	</div>
</div>
