@model LocomotionWebApp.Models.ViewModels.HomeViewModel
@{
}

@section Title
{
	Home
}

@section Scripts
{
	
	<script type="text/javascript">
		$(function() {
			@* if($(".network-data-table thead").size() > 0)
			$(".network-data-table").dataTable({
				"sDom": "<'row'r>t<'row'<'span6'i><'span6'p>>",
				"aaSorting": [[ 2, "desc" ]],
				"iDisplayLength": 5,
				"aoColumns": [
					null,
					null,
					null,
					null,
					{"asSorting": [] }
					]
			});
			else
				$(".network-data-table").empty().html('You have not edited any networks. Go to '
					+ '<a href="@Url.Action("Index", "Network")">Networks</a> to upload, create,'
					+ ' or edit networks.'); *@
			$('#myCarousel').carousel({
				interval: 7200
			});
		});
	</script>
		
}

@section Header
{
}

<div class="container">
	<div class="row">
		<div class="span12" style="padding-top: 20px;">
			<h2>KOAALA<i>Clinic</i></h2>
			<p>Welcome! You are on the Home page. Locate all of your patients under the Patients tab.</p> <br />
			<div id="myCarousel" class="carousel slide" style="width:85%; margin: 0 auto;">
			  <ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
				<li data-target="#myCarousel" data-slide-to="3"></li>
			  </ol>
			  <!-- Carousel items -->
			  <div class="carousel-inner">
				<div class="active item"><img src="~/Content/img/knee_xray2.jpg"/></div>
				<div class="item"><img src="~/Content/img/independence.jpg"/></div>
				<div class="item"><img src="~/Content/img/cropped-blog.jpg"/></div>
				<div class="item"><img src="~/Content/img/NSFhead.jpg"/></div>
			  </div>
			  <!-- Carousel nav -->
			  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
			</div>
			&nbsp;
			
		</div>
	</div>
	<div class="row" style="font-size: 9px; color: #999; text-align: center;">
		<div class="span12"></div>
			<br />
			The KOAALAClinic is a prototype; Madonna Rehabilitation Hospital takes no liability for use of this software
			| <a href="email:katerilett@gmail.com">Contact Us</a>
			| © 2013 
	</div>
</div>

