@model LocomotionWebApp.Models.ViewModels.HomeViewModel
@{
}

@section Title
{
	Home
}

@section Scripts
{	
	<script type="text/javascript">
		$(function() {
			$('#myCarousel').carousel({
				interval: 7200
			});
		});
	</script>		
}

@section Header
{
}
<div style="background-color: black">

<div class="hero-unit" style="margin-bottom: 0px; background: url(../Content/img/knee_xray2.jpg)">
	<div style="font-size: 45px; padding-left: 40px; padding-bottom: 0px">
		<p style="color: lightgrey"><strong>KOAALA<i>Clinic</i></strong></p>
	</div>
	<div style="font-size: 22px; padding-left: 40px; padding-bottom: 0px">
		<p style="color: lightgrey"><strong>Welcome!</strong></p>
	</div>
	<div style="font-size: 22px; text-align: right; padding-right: 35px; padding-top: 15px; margin-top: 22px;">
		<br /><br /><br /><br /><br /><br />
		<p style="color: lightgrey" ><strong>You are on the Home page. <br /> 
		Locate your patients under the Patients tab.</strong></p>
	</div>			
</div>

<div class="container">
	<div class="hero-unit" style="margin-top: 0px; padding: 20px; background-color: lightgrey"  >
		<h3 style="color: black">
			About KOAALA:
		</h3>
		<p>Knee	OsteoArthritis	Active	Living	Assistant	(KOAALA)	is	a	device	meant	to	aid	patients	who	are	undergoing	rehabilitation	to	overcome osteoarthritis in	their	knee.
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et ligula vel orci pharetra feugiat sit amet eu sapien. 
			Duis tempus dolor et malesuada dapibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
			Phasellus varius lorem orci, et euismod enim facilisis sed. 
			Duis rhoncus aliquam enim in facilisis. 
			Quisque rhoncus leo ultricies hendrerit dictum. 
			Nullam nec mi gravida, sodales leo ut, laoreet felis. 
			Vestibulum ornare ultrices dignissim. 
			Donec vestibulum sit amet felis nec pellentesque. 
			Aenean arcu orci, eleifend a magna id, posuere mollis mi. Sed faucibus justo vel accumsan dictum. Fusce leo tellus, lacinia nec lorem varius, elementum malesuada ipsum. 
			Curabitur at sem in nunc imperdiet ullamcorper. Suspendisse vulputate tortor id tempor rhoncus.
		</p>
	</div>
</div>
</div>

<div style="background-color: black">
	
	<!-- Original Content for Home Page -->	

@*	<div class="row">
		<div class="span12" style="padding-top: 20px;">				

			<h2>KOAALA<i>Clinic</i></h2>
			<p>Welcome! You are on the Home page. Locate all of your patients under the Patients tab.</p> <br />
			<div id="myCarousel" class="carousel slide" style="width:85%; margin: 0 auto;">
			  <ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
				<li data-target="#myCarousel" data-slide-to="3"></li>
			  </ol>
			  <!-- Carousel items -->
			  <div class="carousel-inner">
				<div class="active item"><img src="~/Content/img/knee_xray2.jpg"/></div>
				<div class="item"><img src="~/Content/img/independence.jpg"/></div>
				<div class="item"><img src="~/Content/img/cropped-blog.jpg"/></div>
				<div class="item"><img src="~/Content/img/NSFhead.jpg"/></div>
			  </div>
			  <!-- Carousel nav -->
			  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
			</div>
			&nbsp;
			
		</div>
	</div>*@ 

	<div style="font-size: 9px; color: #999; text-align: center;">
			<br />
			The KOAALAClinic is a prototype; Madonna Rehabilitation Hospital takes no liability for use of this software
			| <a href="email:katerilett@gmail.com">Contact Us</a>
			| © 2013 
	</div>
</div>



