@{
    ViewBag.Title = "Upload";
}

<div class="container">
	<div class="row">
		<div class="span12">
			<h2 style="margin-bottom: 25px;">Upload</h2>
		</div>
	</div>
	<div class="row" style="font-size: 9px; color: #999; text-align: center;">
		<div class="span12"></div>
			<br />
			The KOAALAClinic is a prototype; Madonna Rehabilitation Hospital takes no liability for use of this software
			| <a href="email:katerilett@gmail.com">Contact Us</a>
			| © 2013 
	</div>
</div>